header.header__desktop {
    height: 77px;
    width: 100%;
    background: #f1eff1;

    a.header__logo {
        display: block;
        width: 248px;
        height: 46px;
        background-image: url('../assets/logo.png');       
    }

    .header__desktop--wrapper{
        width: 100%;
        height: 77px;
        position: relative;
        
    }

    .header__search--wrapperClosed {
        display: none;
    }
    .header__search--wrapper {        
        position: absolute;
        right: 0;
        border-radius: 10px;
        display: flex;
        align-items: center;

        i {
            position: absolute;
            right: 7px;
            font-size: 17px;
            cursor: pointer;
        }

        .header__search {
            border: none;
            width: 290px;
            height: 44px;
            border-radius: 10px;
            outline: none;
            padding-left: 7px;
        }
    }

}


.header__mobile--wrapperClosed {
    display: none;
}

div.header__mobile {
    display: none;

    .header__mobile--wrapper{        
        width: 100%;
        height: 130px;
        position: relative;        
        justify-content: space-between;
        padding: 0 25px;
        z-index: 10;

        i {
            cursor: pointer;
            font-size: 40px;
        }
    }

    a.header__logo {
        display: block;
        width: 248px;
        height: 46px;
        background-image: url('../assets/logo.png');       
    }

    .header__mobile--wrapper--searchClosed {
        display: none;
    }

    .header__mobile--wrapper--search {
        display: flex;
        width: 100%;
        height: 130px;
        position: relative;
        padding: 0 25px;
        z-index: 10;       
        align-items: center;
        justify-content: space-between;

        .buttonCloseSearch {
            display: none;
            position: absolute;
            right: 20px;
            cursor: pointer;                
            width: 50px;
            height: 50px;
            background: white;
            border-radius: 50%;            
            display: flex;
            align-items: center;
            justify-content: center;            
            z-index: 10;
        }

        .header__search--wrapper {
            display: none;
            position: absolute;            
            border-radius: 10px;
            display: flex;
            align-items: center;
    
            i {
                position: absolute;
                left: 7px;
                font-size: 17px;
                cursor: pointer;
            }
    
            .header__search {
                border: none;
                width: 290px;
                height: 44px;
                border-radius: 10px;
                outline: none;
                padding-left: 34px;
            }

            
        }
    }
}


@media screen and (max-width: 768px) {
    header.header__desktop {
        display: none;
    }

    div.header__mobile {
        display: block;
    }

    

    .header__mobile--wrapper--search {
        display: flex;
        .buttonCloseSearch {
            display: block;
        }

    }

}


@media screen and (max-width: 500px) {
    

    div.header__mobile {
        a.header__logo {            
            width: 150px;            
            background-image: url('../assets/logo.png');    
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;             
        }

        .header__mobile--wrapper{
            i {
                font-size: 25px;
            }
        }
    }
    
    
}


